PDA/Web References/PlatformServer/ServiceBase.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://218.91.152.186:8045/ServiceBase.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/PlatformServer" />
  <xs:import schemaLocation="http://218.91.152.186:8045/ServiceBase.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetDt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sql" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDtResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDtSap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sql" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDtSapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDtSapResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunSql">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sql" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunSqlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PlatformServer" minOccurs="0" name="RunSqlResult" nillable="true" type="q1:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunSqlSap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sql" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunSqlSapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PlatformServer" minOccurs="0" name="RunSqlSapResult" nillable="true" type="q2:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunSqls">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Sqls" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunSqlsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PlatformServer" minOccurs="0" name="RunSqlsResult" nillable="true" type="q4:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunSqlsSap">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Sqls" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunSqlsSapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PlatformServer" minOccurs="0" name="RunSqlsSapResult" nillable="true" type="q6:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sql" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PlatformServer" minOccurs="0" name="InsertResult" nillable="true" type="q7:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunScalar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sql" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunScalarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PlatformServer" minOccurs="0" name="RunScalarResult" nillable="true" type="q8:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fieldName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="image" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="PK" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PKValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/PlatformServer" minOccurs="0" name="SaveImageResult" nillable="true" type="q9:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>